@charset "utf-8";

/* ball */
/* background: linear-gradient(rgba(43, 207, 161, .18), rgba(116, 191, 197, .25)), linear-gradient(to right, rgba(116, 191, 197, .25), rgba(253, 255, 199, .15));
background-blend-mode: overlay;
background-blend-mode: difference;
box-shadow: 0 0 20px rgba(0, 0, 0, 16%);
color: var(--w-color);
text-shadow: var(--font_W);
backdrop-filter: blur(25px) saturate(50%);
border-top: 1px solid rgba(255, 255, 255, .2);
border-bottom: 1px solid rgba(255, 255, 255, .15);
border-left: 1px solid linear-gradient(rgba(43, 207, 161, .18)); */

/* glass */
/* backdrop-filter: blur(15px) saturate(50%);
background: var(--glass-bg1);
border-top: 1px solid radial-gradient(rgba(43, 207, 161, .18), rgba(116, 191, 197, .25));
border-right: 1px solid rgba(255, 255, 255, 0.4);
border-left: 1px solid rgba(116, 191, 197, .1);
box-shadow: 0 0 20px rgba(0, 0, 0, 18px);
text-shadow: var(--font_W);
color: var(--w-color); */

:root {
  font-size: 18px;
  --main-color1: #FEF8F2;
  --main-color2: #EAF2F6;
  --main-color3: #A6BFC5;
  --main-color4: #FDFFC7;
  --main-color5: #2BCFA1;
  /* --glass-bg1: radial-gradient(rgba(43, 207, 161, .18), rgba(116, 191, 197, .25)); */
  --glass-bg1: radial-gradient(rgba(222, 241, 230, .4), rgba(138, 22, 118, 0.082));
  --glass-bg2: rgba(116, 191, 197, .25);
  --glass-bg3: rgba(253, 255, 199, .25);
  --w-color: #fff;
  --gray-01: #f6f6f6;
  --gray-02: #eeeeee;
  --gray-03: #dddddd;
  --gray-04: #a7a7a7;
  --gray-05: #999999;
  --gray-06: #7a7a7a;
  --gray-07: #606060;
  --gray-08: #434343;
  --gray-09: #2a2a2a;
  --gray-10: #222222;
  --b-color: #000;
  --font_W: 0 0 2px rgba(141, 141, 141, 0.30);
  --font_B: 0 0 2px #FFF;
  --suite-: "SUITE Variable", sans-serif;
  --pretenderd-: "Pretendard";
  --round: 24px;
  --ball_shadow: 0 0 5px rgba(0,0,0,.2);
  --bg-ball: radial-gradient(84% 84% at 50% 16%, rgba(166, 191, 197, 0.20) 50%, rgba(166, 191, 197, 0.00) 100%);
}

* {
  box-sizing: border-box;
}

::selection {
  background: var(--main-orange-l);
  color: var(--w-color);
}

body {
  font-family: 'SUITE Variable', sans-serif, 'Pretendard';
}
.wrap>.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: var(--main-color1);
  pointer-events: none;
  z-index: -100;
}

.inner {
  width: 100%;
  max-width: 1900px;
  min-width: 1400px;
  margin-inline: auto;
}

header {
  width: 100%;
  min-width: 1400px;
  height: 70px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--glass-bg4);
  display: flex;
  transition: .3s;
  z-index: 10;
  transform: scale(1);
}

header::before {
  content: '';
  height: 100vh;
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 1);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s;
  /* z-index: 5; */
  clip-path:inset(70px 0 0 0); /* 상단 70px(헤더 높이) 제외 */
}

header.on::before {
  opacity: .2;
  pointer-events: auto;
  /* 바깥 클릭 감지 */
}

header>.inner {
  flex: 1;
  min-width: 1600px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

header>.inner h1 {
  font-size: 1.2rem;
  width: 200px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


header nav .gnb {
  display: flex;
}

header nav .gnb>li {
  display: flex;
  position: relative;
}

header nav .gnb>li {
  display: flex;
  min-width: 180px;
  justify-content: center;
  align-items: center;
  color: var(--gray-09);
  transform-origin: center;
}


header nav .gnb>li>a {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
}

/* 메뉴 */
header nav .gnb>li>.gnb_dp2 {
  width: 100%;
  position: absolute;
  top: 30px;
  flex-direction: column;
  padding: 24px;
  font-size: .889rem;
  background: var(--glass-bg4);
  background-blend-mode: overlay;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  text-shadow: var(--font_B);
  border-radius: var(--round);
  gap: 20px;
  opacity: 0;
  transform: scaleY(.6);
  transition: transform .2s;
  backdrop-filter: blur(5px) saturate(50%);
  -webkit-backdrop-filter: blur(5px) saturate(50%);
  pointer-events: none;
  box-shadow: var(--ball_shadow);
}

header nav .gnb>li:hover>.gnb_dp2 {
  display: flex;
  transform: scaleY(1);
  transform-origin: center top;
  opacity: 1;
}
header nav .gnb>li>.gnb_dp2>li{
  margin: 0;
}

header nav .gnb>li>.gnb_dp2>li>.tit{
  display: flex;
  width: 100%;
  height: 100%;
  color: var(--gray-08);
  align-items: center;
  padding: 8px 4px;
}

header nav .gnb>li>.gnb_dp2>li>.tit>a::after{
  content: '↗';
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  text-shadow: var(--font_B);
}

header nav .gnb>li>.gnb_dp2>li>a {
  display: flex;
  background: #222;
  padding: 2px 16px;
  align-items: center;
  justify-content: center;
  border-radius: var(--round);
  backdrop-filter: blur(15px) saturate(13%);
  background: var(--glass-bg3);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(116, 191, 197, .1);
  box-shadow: var(--ball_shadow);
  text-shadow: var(--font_W);
  color: var(--w-color);
}

header nav .gnb>li>.gnb_dp2>li>.gnb_dp3{
  padding: 8px 12px;
}

header nav .gnb>li>.gnb_dp2>li>.gnb_dp3>li{
  padding: 2px 0;
  justify-content: center;
  align-items: center;
}

/* right_menu */
header .right {
  display: flex;
  gap: 8px;
  z-index: 80;
}

a.af {
  font-size: 14px;
  display: flex;
  height: 40px;
  padding: 0 8px;
  border-radius: var(--round);
  align-items: center;
  gap: 5px;
}

header .right a{
  font-size: 18px;
}

header .right .ham_icon {
  width: 40px;
  height: 40px;
  padding: 11px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  color: var(--b-color); 
}

header .right .ham_icon li {
  width: 23px;
  height: 2px;
  transition: transform .3s;
  border-radius: var(--round);
  background: var(--b-color);
}

header.on {
  width: 100%;
  height: 70px;
  background-color: var(--glass-bg1);
  transform: scale(1);
}

header.on nav{
  display: none;
}
header.on .right a>i{
  color: var(--gray-08);
  transition: .2s;
}
/* hamicon */
header.on .right .ham_icon li{
  background-color: var(--gray-08);
}

header.on .right .ham_icon li:nth-child(1) {
  position: absolute;
  left: 22%;
  top: 50%;
  margin-top: -1px;
  transform: rotate(45deg);
  z-index: 100;
}

header.on .right .ham_icon li:nth-child(2) {
  opacity: 0;
}

header.on .right .ham_icon li:nth-child(3) {
  position: absolute;
  right: 22%;
  top: 50%;
  margin-top: -1px;
  transform: rotate(-45deg);
  z-index: 100;
}

/* .ham_menu */

header .ham_menu {
  position: absolute;
  top: 12px;
  right: 0;
  width: 1000px;
  height: 720px;
  transform-origin: top right;
  transform: scale(.06);
  opacity: 0;
  color: var(--gray-08);
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  border-left: 1px solid linear-gradient(rgba(43, 207, 161, .18));
  z-index: 50;
  border-radius: 80%;
  overflow: hidden;
  box-shadow: var(--ball_shadow);
  backdrop-filter: blur(14px) saturate(50%);
  pointer-events: none;
  transition: transform .5s, opacity .5s, border-radius .3s;
}

/* 열렸을 때 */
header.on .ham_menu {
  border-radius: var(--round);
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
  padding: 50px 0;
}

header .ham_menu .container {
  width: 100%;
  height: 100%;
  padding: 24px 0;
  overflow: auto;
  top: 0;
  left: 0;

}

header .ham_menu .container::-webkit-scrollbar {
  display: none; 
}


header .ham_menu .container .list {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;

}

header .ham_menu .container .list>li {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0 8px;

}

header .ham_menu .container .list>li>a {
  width: 100%;
  padding-bottom: 20px;
  justify-content: center;
  display: flex;
  color: var(--gray-09);
  font-size: 1.3rem;
  font-weight: 500;
  cursor: default;
  text-shadow: var(--font_B);
}

header .ham_menu .container .list>li .dp2{
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2px 4px;
  line-height: 1.2rem;
  font-size: 1rem;
  flex-direction: column;
  gap: 10px;
}

header .ham_menu .container .list>li>.dp2>li>.tit{
  width: 100%;
  align-items: center;
  display: flex;
  border-radius: 28px;
  justify-content: space-between;
}

header .ham_menu .container .list>li>.dp2>li>.tit>a{
  text-shadow: var(--font_W);
  padding: 4px 12px;
  text-align: center;
  text-align: center;
}


header .ham_menu .container .list>li>.dp2>li>.tit>a:nth-child(1):after{
  content: '↗';
}

header .ham_menu .container .list>li>.dp2>li>.tit>a:nth-child(2){
  width: 50px;
  height: 50px;
  padding: 15px 0;
  color: var(--gray-08);
  box-shadow: var(--ball_shadow);
  text-shadow: var(--font_B);
  backdrop-filter: blur(25px) saturate(50%);
  border-radius: var(--round);
}

header .ham_menu .container .list>li>.dp2>li>.tit>a.buy{
  background: var(--glass-bg1);
}
header .ham_menu .container .list>li>.dp2>li>.dp3{
  flex-direction: row;
  justify-content: left;
  padding: 4px 8px;
}

header .ham_menu .container .list>li>.dp2>li>.dp3>li{
  padding: 2px 0;
}

header .ham_menu .container .list>li>.dp2>li>.tit>a:hover{
  font-weight: 700;
  background-color: var(--main-color5);
  color: var(--w-color);
  border-radius: var(--round);
}

header .ham_menu .container .list>li>.dp2>li>.dp3 a:hover{
  padding: 4px 12px;
  font-weight: 600;
  background-color: var(--main-color5);
  color: var(--w-color);
  border-radius: var(--round);
  text-shadow: var(--font_W);
}

/* footer */

footer{
flex: 1;
padding: 24px;
}

footer>.inner{
  border-radius: var(--round);
  padding: 24px;
  color: var(--glass-bg1);
  text-shadow: var(--font_W);
   /* background-color: rgba(255,255,255,.18); */
  background: var(--glass-bg4);
  background-blend-mode: overlay;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  text-shadow: var(--font_B);
  backdrop-filter: blur(5px) saturate(50%);
  -webkit-backdrop-filter: blur(5px) saturate(50%);
}
footer .f_top {
  display: flex;
  justify-content: space-between;
}

footer .logo_box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

footer .logo_box .logo {
  font-size: 3rem;
  /* font-family: var(--font-Eng); */
  text-transform: uppercase;
  opacity: .5;
  font-weight: 600;
  letter-spacing: 2px;
}

footer .logo_box .logo_b {
  font-size: 1.6rem;
  display: flex;
  gap: 50px;
  opacity: .4;
  text-transform: capitalize;
}

footer .btn_box a{
  background: var(--glass-bg2);
  box-shadow: var(--font_W);
  transition: .2s;
  color: var(--gray-08);
  border-top: 1px solid rgba(255, 255, 255, .6);
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}


footer .btn_box a:hover,
.select_box button:hover {
    background: var(--main-color5);
}

footer .btn_box {
    display: flex;
    gap: 20px;
    height: 60px;
}

.sns {
    display: flex;
    gap: 10px;
}

.sns a {
    display: flex;
    width: 60px;
    height: 100%;
    /*  btn_box의 60px */
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}


.footer_top a {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 0 20px;
    text-transform: uppercase;
}

footer .f_bottom {
  display: flex;
  margin-top: 80px;
  line-height: 1.6;
  letter-spacing: -0.5px;
  font-size: 16px;
  justify-content: space-between;
  text-shadow: var(--font_W);
}

footer ul.f_left li:first-child {
  margin-bottom: .5em;
}

footer em{
  font-weight: 700;
  color: var(--gray-08);
}

footer i{
  font-size: 16px;
  color: var(--gray-09);
}
footer .f_con1 span {
  display: inline-flex;
  margin-left: 0.8em;
  height: 12px;
  align-items: center;
}

footer .f_con1 span:first-child {
  padding-right: .8em;
  border-right: 1px solid var(--gray-07);
}

footer .f_left>li a{
  background: var(--glass-bg2);
  padding: 2px 8px;
  border-radius: var(--round);
  text-shadow: var(--font_W);
  border-top: 1px solid rgba(255, 255, 255, .6);
  border-bottom: 1px solid rgba(255, 255, 255, .4);
}

footer .f_right {
  text-align: right;
}

footer .f_bottom>.f_right>li>a {
  display: flex;
  text-shadow: var(--font_W);
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  justify-content: right;
  align-items: center;
}
footer .f_bottom>.f_right>li>a i{
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  transform: rotate(45deg);
  text-shadow: var(--font_W);
}

.copy {
  margin-top: 8px;
  font-size: .72rem;
  color: #617278;
  letter-spacing: .2px;
}