@charset "utf-8";

:root {
  font-size: 18px;
  --main-color1: #FEF8F2;
  --main-color2: #EAF2F6;
  --main-color3: #A6BFC5;
  --main-color4: #FDFFC7;
  --main-color5: #2BCFA1;
  --glass-bg1: radial-gradient(rgba(43, 207, 161, .18), rgba(116, 191, 197, .25));
  --glass-bg2: rgba(116, 191, 197, .25);
  --glass-bg3: rgba(253, 255, 199, .25);
  --glass-bg4: rgba(122, 122, 122, 0.25);
  --w-color: #fff;
  --gray-01: #f6f6f6;
  --gray-02: #eeeeee;
  --gray-03: #dddddd;
  --gray-04: #a7a7a7;
  --gray-05: #999999;
  --gray-06: #7a7a7a;
  --gray-07: #606060;
  --gray-08: #434343;
  --gray-09: #2a2a2a;
  --gray-10: #222222;
  --b-color: #000;
  --font_W: 0 0 2px rgba(141, 141, 141, 0.30);
  --font_B: 0 0 2px #FFF;
  --suite-: "SUITE Variable", sans-serif;
  --pretenderd-: "Pretendard";
  --round: 24px;
  --ball_shadow: 0 0 5px rgba(0,0,0,.2);
  --bg-ball: radial-gradient(84% 84% at 50% 16%, rgba(166, 191, 197, 0.20) 50%, rgba(166, 191, 197, 0.00) 100%);
}

main {
  width: 100%;
  height: 100%;
}

/* 메인비주얼 */
.main_visual {
  width: 100%;
  height: 953px;
  padding-top: 70px;
  display: flex;
  position: relative;
}

.main_visual>.inner{
  width: 100%;
  height: 100%;
  display: flex;
}

.main_visual>.inner>.slide{
  width: 1440px;
  height: 100%;
  padding: 0 0 0 270px;
}

.main_visual>.inner>.slide>.top_sw {
  width: 80vw;
  min-width: 70vw;
  display: flex;
  flex-direction: column;
  height: 90%;
  position: absolute;
  top: 0px;
  
  /* 그라데이션마스크 */
  -webkit-mask-image: linear-gradient(to right, #000 99%, transparent 100%);
  mask-image: linear-gradient(to right, #000 99%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  z-index: 0;
  
}

.main_visual>.inner>.slide>.top_sw .swiper-wrapper{
  width: 100%;
  height: 100%;
  transform-origin: right bottom;
  transition: transform 1s, opacity .3s; ;
}

/* 슬라이드 이미지 */
.main_visual>.inner>.slide>.top_sw>.swiper-wrapper>.swiper-slide{
  width:100%;
  height:100vh;
  position: relative;
  bottom: -15%;
  overflow: hidden;
  transform-origin: right bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.main_visual>.inner>.slide>.top_sw>.swiper-wrapper>.swiper-slide:nth-child(1){
  /* background: url(../asset/img/mobile_open_1.png);
  background-repeat: no-repeat; */
  background: var(--w-color);
}

.main_visual>.inner>.slide>.top_sw>.swiper-wrapper>.swiper-slide:nth-child(2){
  /* background-image: url(../asset/img/bg_1.png);
  background-repeat: no-repeat; */
  background: var(--w-color);

}

.main_visual>.inner>.slide>.top_sw>.swiper-wrapper>.swiper-slide:nth-child(3){
  /* background-image: url(../asset/img/idea.png);
  background-repeat: no-repeat; */
  background: var(--w-color);

}

.main_visual>.inner>.slide>.top_sw>.swiper-wrapper>.swiper-slide:nth-child(4){
  /* background-image: url(../asset/img/mobile_open_3.png);
  background-repeat: no-repeat; */
  background: var(--w-color);

}

.main_visual>.inner>.slide>.top_sw>.swiper-wrapper>.swiper-slide:nth-child(5){
  /* background-image: url(../asset/img/time_1.png);
  background-repeat: no-repeat; */
  background: var(--w-color);
}

/* 텍스트영역*/
.main_visual .txt_area{
  position: relative;
  display: flex;
  padding: 0 80px;
  width: 100%;
  left: 0;
  top: 0;
  opacity:0;
  transform:translateX(0);
  transition: transform .6s ease-out, opacity .6s ease-in;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
}

/* 활성 슬라이드 */
.main_visual .top_sw .swiper-slide-active .txt_area{
  opacity:1;
  transform:translateX(0);
}

/* 다음 슬라이드-> 왼에서 오 */
.main_visual .top_sw .swiper-slide-next .txt_area{
  transform:translateX(-50%);
  opacity: 0;
}

/* 이전 슬라이드 → 오에서 왼 */
.main_visual .top_sw .swiper-slide-prev .txt_area{
  transform:translateX(50%);
  opacity: 1;
}

/* 슬라이드 서브문구 */
.main_visual .txt_area .txt p{
  flex: 1;
  font-size:1.6rem;
  text-shadow: var(--font_B);
  color: var(--gray-08);
  font-weight: 400;
  padding: 4px;
}

/* 슬라이드 제목 */
.main_visual .txt_area .tit{  
  width: 100%;
  height: 240px;
  opacity: 1;
  position: relative;
  display: block;
  top: 0;
  left: 0;
  z-index: 10;

}

.main_visual .txt_area .tit h2{
  line-height: 100%;
  font-weight: 400;
  font-size: 3.5rem;
  padding: 18px 0;
  text-shadow: var(--font_B);
}

.main_visual .txt_area em{
  font-size: 4.4rem;
  letter-spacing: -0.25rem;
  text-shadow: var(--font_B);
  font-weight: 600;
}

.main_visual .txt_area .tit strong{
  font-size: 4.4rem;
  letter-spacing: -0.25rem;
  color: var(--main-color5);
  text-shadow: var(--font_W);
  font-weight: 400;
}


/* 연금복권판매시간 */
.main_visual .txt_area>.sub_txt{
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 20px;
  color: var(--gray-08);
  text-shadow: var(--font_W);
  background: var(--glass-bg4);
  /* backdrop-filter: blur(20px) saturate(50%); */
  border-radius: var(--round);
  gap: 8px;
  font-size: 14px;
  z-index: 600;

}

/* 연금복권판매시간 소제목 */
.main_visual .txt_area .sub_txt li:nth-child(1),
.main_visual .txt_area .sub_txt li:nth-child(4){
  color: var(--gray-09);
  font-size: 18px;
}


/* 자세히보기 버튼부분 */
.main_visual .txt_area>.more_btn{
  display: flex;
  width: 220px;
  height: 45px;
  justify-content: center;
  border-radius: var(--round);
  padding: 12px 24px;
  background: var(--glass-bg2);
  border-top: 1px solid rgba(116, 191, 197, .35);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(116, 191, 197, .1);
  text-shadow: var(--font_B);
  color: var(--b-color);
}

.main_visual .txt_area>.more_btn:hover{
  box-shadow: var(--ball_shadow);
  background: var(--main-color3);
  color: var(--w-color);
  text-shadow: var(--font_W);
}

.main_visual .txt_area .more_btn a span {
  text-shadow: var(--font_B);
  font-weight: 200;
}

/* 버튼메뉴 */
.main_visual .bottom_btn {
  position: absolute;
  width: 60%;
  height: 144px;
  box-sizing: border-box;
  margin: 0;
  bottom: 0;
  left: 20%;
}

/* 슬라이드 선택 메뉴바 */
.main_visual .bottom_btn .swiper-slide {
  bottom: 0;
  width: 90%;
  height: 120px;
  backdrop-filter: blur(2px) saturate(5%);
  background: var(--glass-bg4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-top: 1px solid rgba(116, 191, 197, .35);
  border-left: 1px solid rgba(116, 191, 197, .1);
  text-shadow: var(--font_W);
  border-radius: 24px 24px 0 0;
  transform-origin: center bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height .3s;
  transform:  none; 
}

.main_visual .bottom_btn .swiper-wrapper .swiper-slide:hover{
  background: var(--glass-bg3);
}

.main_visual .bottom_btn .swiper-wrapper .swiper-slide button>p{
  color: var(--gray-09);
}

.main_visual .bottom_btn .swiper-wrapper .swiper-slide:hover button>p{
  color: var(--main-color5);

}

/* 슬라이드선택시 버튼*/
.main_visual .bottom_btn .swiper-wrapper .swiper-slide-thumb-active {
  width: 100%;
  height:144px;
  flex: 1;
  opacity: 1;
  transform-origin: center bottom;
  backdrop-filter: blur(25px) saturate(50%);
  background: var(--main-color5);
  border-top: 1px solid rgba(116, 191, 197, .35);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(116, 191, 197, .1);
  text-shadow: var(--font_W);
}

.main_visual .bottom_btn .swiper-wrapper .swiper-slide-thumb-active button>p{
  color: var(--w-color);
}

.main_visual .bottom_btn .swiper-wrapper{
  width: 100%;
  height: 144px;
  position: absolute;
  align-items:flex-end;
  display: flex;
  left: 0;
  bottom: 0;
  padding: 0;
}

/* sub 공들*/
.main_visual .sub {
  position: relative;
  top: 33vh;
  right: 13vw;
  padding: 20px;
  transform-style: preserve-3d;
}

/* 소외계층 */
.main_visual .sub .txt {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 200px;
  left: 85px;
  color: var(--gray-09);
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(43, 207, 161, .18), rgba(116, 191, 197, .25)), linear-gradient(to top right, rgba(116, 191, 197, .25), rgba(253, 255, 199, .15));
  background-blend-mode: overlay;
  box-shadow: var(--ball_shadow);
  text-shadow: var(--font_B);
  backdrop-filter: blur(05px) saturate(50%);
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  border-left: 1px solid linear-gradient(rgba(43, 207, 161, .18));
  z-index: 100;
}

.main_visual .sub .txt>h3{
  font-weight: 200;
}

.main_visual .sub .txt strong {
  font-size: 1.1rem;
  font-weight: 600;
  
}
.main_visual .sub .txt span{
  font-size: 1.1rem;
  font-weight: 200;
}

/* 움직이는 공  */
.ball_all{
  background: var(--glass-bg3);
  width: 550px;
  height: 450px;
  border-radius: 300px 200px 300px 250px;
  perspective: 800px;
  transform: rotate(0);
  box-shadow: var(--ball_shadow);
  z-index: 30;
}
 

.ball_all .ball{
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--glass-bg2);
  box-shadow: var(--ball_shadow);
  backdrop-filter: blur(25px) saturate(50%);
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  border-left: 1px solid linear-gradient(rgba(43, 207, 161, .18));
}

.ball_all .ball:nth-child(2){
  top: 225px;
  left: 162px;
  z-index: 16;
  animation: ball_ani 5s .1s ease-in infinite;
}

.ball_all .ball:nth-child(3){
  top: 236px;
  left: 36px;
  z-index: 17;
  animation: ball_ani 5s .3s ease-in infinite;
}
.ball_all .ball:nth-child(4){
  top: 290px;
  left: 231px;
  z-index: 18;
  animation: ball_ani 4.5s .9s ease-out infinite;
}

.ball_all .ball:nth-child(5){
  top: 100px;
  left: 100px;
  z-index: 19;
  animation: ball_ani 5s .85s ease-out infinite;
}
.ball_all .ball:nth-child(6){
  top: 231px;
  left: 347px;
  z-index: 20;
  animation: ball_ani 4s .4s ease-in-out infinite;
  
}

@keyframes ball_ani {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-16px); }
  100% { transform: translateY(0px); }
}

/* 복권기금 누적액 */
.main_visual .sub .ball_all>.num_txt{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 30px;
  left: 230px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 30px;
  color: var(--gray-09);
  background: linear-gradient(rgba(43, 207, 161, .18), rgba(116, 191, 197, .25)), linear-gradient(to right, rgba(116, 191, 197, .25), rgba(253, 255, 199, .15));
  background-blend-mode: overlay;
  box-shadow: var(--ball_shadow);
  text-shadow: var(--font_B);
  backdrop-filter: blur(05px) saturate(50%);
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  border-left: 1px solid linear-gradient(rgba(43, 207, 161, .18));
  z-index: 50;
}

.main_visual .sub .ball_all>.num_txt p{
font-size: 1.3rem;
font-weight: 400;
}

.main_visual .sub .ball_all>.num_txt span{
font-size: 1.8rem;
font-weight: 500;
}

.main_visual .sub .ball_all>.num_txt strong{
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: -2%;
}

/* 게임 카드선택 부분 */
.pick_section{
  width: 100%;
  height: 100%;
  position: relative;
}

.pick_section .inner {
  width: 100%;
  min-width: 1440px;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  z-index: 1;
  padding: 50vh 0;
}

.pick_section .inner .tit_section{
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.pick_section .inner .tit_section .tit{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.pick_section .inner .tit_section h2{
  font-size: 48px;
}

.pick_section .inner .tit_section p{
  font-size: 36px;
  color:var(--main-color5);
}

/*  추첨,즉석,스피또선택버튼 */
.pick_section .inner .tit_section .swiper_pagination{
  width: 100%;
  height: 80px;
  display: flex;
  gap: 14px;
  justify-content: center;
  align-items: center;
}

.pick_section .inner .tit_section .swiper_pagination>li{
  width: 100px;
  height: 60px;
  display: flex;
  border-radius: var(--round);
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(25px) saturate(50%);
  border-top: 1px solid var(--glass-bg2);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(116, 191, 197, .2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 18px);
  color: var(--w-color);
  font-size: 24px;
  background: var(--glass-bg2);
  z-index: 40;
}

.pick_section .inner .tit_section .swiper_pagination>li:hover{
  background: var(--main-color5);
}

.pick_section .inner .tit_section .swiper_pagination>li>button{
  text-shadow: var(--font_B);
  width: 100%;
  height: 100%;
}

.pick_section .inner .tit_section .swiper_pagination>li:hover button{
  cursor: pointer;
  color: var(--w-color);
}

/* 3d로 넘어가는 카드 영역 */
.pick_section .inner .card_all {
  width: 60%;
  min-width: 1400px;
  display: flex;
  justify-content: center;
  padding: 150px;
  position: relative;
  top: 0;
  left: 0;

  }
.pick_section .inner .card_all .swiper-slide{
  width: 337px;
  height: 650px;
  overflow: hidden;
}


/* 카드 */
.pick_section .inner .card_all .swiper-wrapper .card{
  width: 337px;
  height: 650px;
  padding: 24px;
  border-radius: var(--round);
  background: var(--glass-bg3);
  box-shadow: var(--ball_shadow);
  backdrop-filter: blur(50px) saturate(50%);
  border-top: 1px solid radial-gradient(rgba(43, 207, 161, .18), rgba(116, 191, 197, .25));
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(116, 191, 197, .1);
  position: relative;
  color: var(--gray-09);
}

.pick_section .inner .card_all  .swiper-wrapper .card>ul{
  width: 100%;
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/*  회차, 게임네임 */
.pick_section .inner .card_all .swiper-wrapper .card .title{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.pick_section .inner .card_all .swiper-wrapper .card .title p {
  font-weight: 400;
  font-size: 24px;
}

.pick_section .inner .card_all .swiper-wrapper .card .title p:nth-child(2)
{
  font-weight: 600;

}
  /* 추첨날짜 */
.pick_section .inner .card_all .swiper-wrapper .card .date{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  align-items: center;
}

.pick_section .inner .card_all .swiper-wrapper .card .date p{
  align-items: end;
  font-size: 32px;
  font-weight: 400;
}

.pick_section .inner .card_all .swiper-wrapper .card .date p:nth-child(2){
  font-size: 18px;
  padding: 0 4px;
}

/* 당첨번호 */
.pick_section .inner .card_all .swiper-wrapper .card .win_num{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding: 8px 0;
  /* flex: 1; */
}

.pick_section .inner .card_all .swiper-wrapper .card .win_num>p{
  width: 50px;
  height: 50px;
  text-align: center;
  justify-content: center;
  align-content: center;
  background: var(--w-color);
  font-size: 34px;
  border-radius: var(--round);
}

/* +부분 */
.pick_section .inner .card_all .swiper-wrapper .card .win_num>.plus{
  border-radius: 0;
  background: none;
}


/* 카드 상세정보 부분 */
.pick_section .inner .card_all .swiper-wrapper .card .info_txt{
  width: 100%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--glass-bg2);
  box-shadow: var(--ball_shadow);
  backdrop-filter: blur(25px) saturate(50%);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(116, 191, 197, .1);
  padding:  80px 0px 80px 0px;
  transition: padding .6s;
  gap: 24px;

}

/* 1등 당첨금 */
.pick_section .inner .card_all .swiper-wrapper .card .info_txt .winner{
  flex-direction: column;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 8px 0;
}

.pick_section .inner .card_all .swiper-wrapper .card .info_txt .winner .tit{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 8px;
}

.pick_section .inner .card_all .swiper-wrapper .card .info_txt .winner .tit>p {
  font-size: 14px;
}

.pick_section .inner .card_all .swiper-wrapper .card .info_txt .winner>.num_txt,
.pick_section .inner .card_all .swiper-wrapper .card .info_txt .more_hidden .bonus>.num_txt,
.pick_section .inner .card_all .swiper-wrapper .card .info_txt .more_hidden .price>.num_txt{
  font-size: 32px;
  font-weight: 500;
}

/* 보너스 (기본숨김) */
.pick_section .inner .card_all .swiper-wrapper .card .info_txt .more_hidden .bonus>.num_txt{
  display: flex;
  padding: 8px;
  justify-content: center;
  gap: 8px;
  
}

.pick_section .inner .card_all .swiper-wrapper .card .info_txt .more_hidden{
  width: 100%;
  flex: 1;
  height: 100%; 
  opacity: 0;
  flex-direction: column;
  padding:  40px 0 0 0;
  transition: padding 1s;
  transform-origin: bottom bottom;
}

.pick_section .inner .card_all .swiper-wrapper .card .info_txt:hover .more_hidden{
  flex: 0;
  opacity: 1;
  display: flex;
  gap: 24px 0;
  padding: 0px 80px 0px 80px;
}

.pick_section .inner .card_all .swiper-wrapper .card .info_txt .more_hidden .bonus,
.pick_section .inner .card_all .swiper-wrapper .card .info_txt .more_hidden .price{
  display: none;
  flex-direction: column; 
  flex: 1;

}

.pick_section .inner .card_all .swiper-wrapper .card .info_txt:hover .bonus,
.pick_section .inner .card_all .swiper-wrapper .card .info_txt:hover .price{
  display: flex;
  flex-direction: column;
  flex: 1;

}

/* 카드 하단 버튼  */
.pick_section .inner .card_all .swiper-wrapper .card .more{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 10;
}

/* 추첨결과, 번호전체보기버튼 */
.pick_section .inner .card_all .swiper-wrapper .card .more .more_btn{
  box-shadow: var(--ball_shadow);
  flex: 1;
  background: var(--w-color);
  padding: 18px 20px;
  text-align: center;
  border-radius: var(--round);
  border: 1px solid var(--b-color);
  font-weight: 500;
  font-size: 24px;
}

/* 바로구매버튼 */
.pick_section .inner .card_all .swiper-wrapper .card .more .buy_btn{
  flex: 1;
  padding: 18px 20px;
  text-align: center;
  background: var(--main-color5);
  color: var(--w-color);
  border-radius: var(--round);
  box-shadow: var(--ball_shadow);

}

/* 카드배경 */
.pick_section .inner .card_all .swiper-wrapper .card .bg{
  position: absolute;
  width: 90%;
  height: 100%;
  z-index: -20;
  justify-content: center;
  align-items: center;
}

.pick_section .inner .card_all .swiper-wrapper .card .bg p{
  width: 100%;
  height: 100%;
  flex: 1;
  text-align: center;
  font-weight: 700;
  font-size: 180px;
  color: var(--main-color5);
  opacity: .18;
  padding: 80px 0;
}

/* 하단 스크롤바 */
.pick_section .inner .card_all .swiper-scrollbar{
  display: flex;
  width: 70%;
  height: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom:200px;
  left: 0;
  color: var(--main-color5);
  background: #222;
}


/* 양쪽화살표버튼 */
.pick_section .inner .arrow_btn{
  position: absolute;
  width:100%;
  padding: 24px;
  flex: 1;
  top:  43%;
  z-index: 80;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.pick_section .inner .arrow_btn .swiper_button_next{
  right: 0;
  color: var(--main-color5);
  font-size: 4rem;
  text-shadow: var(--ball_shadow);
  z-index: 80;
  pointer-events: all;
  cursor: pointer;
}

.pick_section .inner .arrow_btn .swiper_button_next:hover,
.pick_section .inner .arrow_btn .swiper_button_prev:hover{
  color: var(--w-color);

}

.pick_section .inner .arrow_btn .swiper_button_prev{
  left: 0;
  top: 50%;
  color: var(--main-color5);
  font-size: 4rem;
  text-shadow: var(--ball_shadow);
  pointer-events: all;
  cursor: pointer;

}

/* 선택창 배경 */
.pick_bg{
  max-width: 1920px;
  width: 1440px;
  height: 100%;
  display: flex;
  z-index: -80;
  pointer-events: none;
  overflow: hidden;
}

/* 배경 공 */
.pick_bg>.bg_ball{
  overflow: hidden;
  top: 50vh;
  right: 0;
  width: 1300px;
  height: 1300px;
  position: absolute;
  display: block;
  background: repeating-radial-gradient(circle at 0 0, rgba(0,0,0,.06) 0 1px, transparent 2px 4px);
  z-index: -60;
  pointer-events: none;
  border-radius: 50%;
  transform: rotate(-180deg);
}

.pick_bg>.bg_ball:nth-child(2){
  left:0;
  transform: rotate(0deg);
}

/* 당첨자 인터뷰 부분 */
.winner_section{
  width: 100%;
  display: none;
}

.winner_section>.inner{
  width:100%;
  min-width:1440px;
  position:relative;
  background:var(--main-color2);
  border-top-left-radius:500px;
  border-top-right-radius:500px;
  box-shadow:var(--ball_shadow);
  padding: 700px 0100px 800px;
  display:flex;
  align-items:center;
  overflow:hidden;
}

/* 행운의 주인공은? 부분 */
.winner_section>.inner>.tit{
  width: 100%;
  height: 100%;
  position:absolute;
  top:90px;
  z-index:1;
  color:var(--main-color5);
  font-weight:600;
  line-height:.92;
  letter-spacing:-.02em;
  font-size: 200px;
  padding: 200px;
  z-index: 1;
  pointer-events: none;

}

/* 글자 위치 */
.winner_section>.inner>.tit>p:nth-child(1){
  position:absolute;
  top: 10vh;
  left: 15vw;
}

.winner_section>.inner>.tit>p:nth-child(2){
  position:absolute;
  top: 30vh;
  right: 15vw;
}

/* left column 인터뷰 글*/
.winner_section>.inner>.winner_interview{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
}

.winner_section>.inner>.winner_interview .txt_box{
  width:100%;
  max-width:560px;
  display:flex;
  flex-direction:column;
  gap:24px;
  align-items: center;
}

/* 당첨자가이드 */
.winner_section>.inner>.winner_interview .txt_box>.txt{
  display:flex;
  flex-direction:column;
  gap:14px;
}

.winner_section>.inner>.winner_interview .txt_box>.txt>a{
  display:inline-flex;
  align-items:center;
  justify-content: center;
  gap:  8px;
  padding:8px 12px;
  border-radius:var(--round);
  background:var(--glass-bg4);
  box-shadow:var(--ball_shadow);
  z-index: 2;
  /* background: #222; */
}

.winner_section>.inner>.winner_interview .txt_box>.txt>a:hover{
  background:var(--main-color3);
  color:var(--w-color);
}

.winner_section>.inner>.winner_interview .txt_box>.txt>h3{
  font-size:22px;
  font-weight:700;
  color:var(--gray-10);
}

/* 메뉴버튼 */
.winner_section>.inner>.winner_interview .txt_box>.menu_btn{
  display:flex;
  gap:10px;
  z-index: 2;
}
.winner_section>.inner>.winner_interview .txt_box>.menu_btn>button{
  padding:10px 18px;
  border-radius:var(--round);
  box-shadow:var(--ball_shadow);
  color:var(--b-color);
}

/* 메뉴 선택중일때 */
/* .winner_section>.inner>.winner_interview .txt_box>.menu_btn>button-active{
  background: var(--grass-bg2);
  color: var(--w-color);
} */

.winner_section>.inner>.winner_interview .txt_box>.menu_btn>button:hover{
  background:var(--main-color5);
  color:var(--w-color);
}

/* 인터뷰 내용 */
.winner_section>.inner>.winner_interview .txt_box>.interview_card{
  width: 565px;
  height: 230px;
  border-radius:18px;
  background:var(--glass-bg3);
  border-top: 1px solid radial-gradient(rgba(43, 207, 161, .18), rgba(116, 191, 197, .25));
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(116, 191, 197, .1);
  box-shadow:var(--ball_shadow);
  padding:30px 24px;
  display:flex;
  flex-direction:column;
  gap:10px;
}
/* 게임,금액 */
.winner_section>.inner>.winner_interview .interview_card>.interview_tit{
  width: 100%;
  height: 40px;
  align-items: center;
  display: flex;
  justify-content:space-between;
  font-weight:700;
  color:var(--gray-08);
}

.winner_section>.inner>.winner_interview .interview_card>.interview_txt{
  height: 100%;
}
.winner_section>.inner>.winner_interview .interview_card>.interview_txt>p{
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height:1.5;
}

/* 당첨자 사진 부분 */
.winner_section>.inner>.winner_photo{
  flex:1;
  z-index:2;
  display:flex;
  justify-content:center;
  align-items:center;
}

/* mask */
.winner_section>.inner>.winner_photo .clover_wrap{
  top: 0;
  left: 0;
  position:relative;
  /* 사진크기 */
  width:833px;
  height:641px;
}

/* .winner_section>.inner>.winner_photo .clover_wrap .clover_mask1{
  position:absolute;
  width:500px;
  height:280px;
  border-radius:50%;
  z-index:1;
  transform: rotateX(45deg);
}
.winner_section>.inner>.winner_photo .clover_wrap .clover_mask2{
  position:absolute;
  width:500px;
  height:280px;
  border-radius:50%;
  z-index:1;
  transform: rotateX(-45deg);
} */

/* 당첨자 사진 */
.winner_section>.inner>.winner_photo .clover_wrap .img_box{
  width: 80%;
  height: 100%;
  position:absolute;
  background:url(../asset/img/260206_winner_1.png) center/cover no-repeat;
  z-index:2;
  -webkit-mask-image: linear-gradient(to top, #000 90%, transparent 100%);
  mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
}
.winner_section>.inner>.winner_photo .clover_wrap .img_box .photo{
  background-image: url(../asset/img/260206_winner_2.jpg);
}


/* 서비스 안내 */
.service_section {
  width:100%;
  height: 100%;

}
.service_section .inner{
  width: 100%;
  min-width:1440px;
  height: 100%;
  position:relative;
  background:var(--main-color2);
  border-radius:0 0 500px 500px;
  box-shadow:var(--ball_shadow);
  padding: 700px 0 800px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  overflow:hidden;
  margin: 0 auto;
}

/* 제목 */
.service_section .inner .tit{
  padding: 200px 0 ;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.service_section .inner .tit p{
  font-size: 36px;
  color:var(--main-color5);
}

.service_section .inner .tit h2{
  font-size: 48px;
}

/* 네모 동그라미 */
.service_section .inner .service_grid {
  display:flex;
  flex-wrap:wrap;
  top: 0;
  left: 0;
  width: 1440px;
  height: 600px;
  gap: 20px;
  justify-content: center;
}

.service_section .inner .service_grid li{ 
  display: flex;
  width: 300px;
  height: 300px;
  position: relative;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background: #222; */
  color: var(--gray-09);
  border-radius: 50%;
  backdrop-filter: blur(25px) saturate(50%);
  border-top: 1px solid var(--glass-bg3);
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(116, 191, 197, .1);
  box-shadow: var(--ball_shadow);
}

/* 동그라미 */
.service_section .inner .service_grid li>a {
  width: 310px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 8px;
  font-weight: 500;
  transition: .3s;
  background-blend-mode: overlay;
  background-blend-mode: difference;

}

.service_section .inner .service_grid li>a em{
  font-size: 24px;
}

.service_section .inner .service_grid li>a>p{
  font-size: 18px;
  width: 190px;
  height: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
}

.service_section .inner .service_grid li a p:nth-child(5){
  padding-top: 14px;
}

.service_section .inner .service_grid li>a p i{
  width: 20px;
  height: 20px;
}

/* 호버시 공통으로 바뀌는 것 */
.service_section .inner .service_grid li:hover>a p{
  display: flex;
}

/* 호버시 네모 -> 원 상세내용 */
.service_section .inner .service_grid li:hover>a{
  background: var(--main-color5);
  text-shadow: var(--font_W); 
  color: var(--w-color);
}

.service_section .inner .service_grid li:hover>a em{
  display: none;
}

/* 네모 */
.service_section .inner .service_grid li:nth-child(2n)>a{
  background: var(--glass-bg3);
  border-radius: 0;
}

/* 네모 호버 */
.service_section .inner .service_grid li:nth-child(2n):hover a{
  color: var(--w-color);
  text-shadow: var(--font_W);
  background: var(--main-color5);
  border-radius: 50%;
  width: 310px;
  height: 310px;
  border-radius: 0;
}


/* 순서바꾸기 */
.service_section .inner .service_grid li:nth-child(5){
  order: 6;
}


/* 질문하기 섹션*/
.faq_section {
  width: 100%;
  height: 100%;
  display: flex;
}
.faq_section .inner{
  width: 100%;
  height: 100%;
  padding: 400px 0 200px;
  position: relative;
}

/* 신고하기 */
.faq_section .inner .report {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  text-align: center;
  padding: 48px 0;
  border-radius: 0 150px 150px 0 ;
  background: var(--glass-bg2);
  gap: 16px;
}

/* 소제목 */
.faq_section .inner .report>p {
  align-items: center;
  font-size: 36px;
  color: var(--main-color5);
}
.faq_section .inner .report>p span{
  font-weight: 500;
  font-size: 48px;
}

/* 제목 */
.faq_section .inner .report>h2{
  font-size: 48px;
  color: var(--gray-09);
}

/* 신고센터 */
.faq_section .inner .report>a{
  font-size: 32px;
}

.faq_section .inner .report>a i{
  font-size: 24px;
  top:0;
  left: 0;
  padding: 0 24px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateX(-14px);
  text-shadow: var(--font_B);
}

.faq_section .inner .report>a:nth-child(2) {
  max-width: 560px;
  color: var(--b-color);
}


/* 질문과 답변 섹션*/

/* 제목 */
.faq_section .inner .tit{
  width: 70%;
  height: 180px;
  top: 620px;
  left: 0;
  position: absolute;
  border-radius: 0 150px 150px 0 ;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  background: var(--glass-bg3);
  background-blend-mode: overlay;
  background-blend-mode: difference;
  box-shadow: 0 0 20px rgba(0, 0, 0, 16%);
  text-shadow: var(--font_B);
  backdrop-filter: blur(05px) saturate(50%);
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  border-left: 1px solid rgba(116, 191, 197, .1);
  z-index: 5;
}

 .faq_section .inner .tit i{
  font-size: 24px;
  top:0;
  left: 0;
  padding: 0 24px;
  width: 10px;
  height: 10px;
  transform: rotate(45deg) translateX(-8px);
  text-shadow: var(--font_B);
}
  
/* 리스트 */
.faq_section .inner .faq_list {
  top: 0;
  left: 0;
  width: 1440px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 140px 0;
  gap: 40px;
}

/* 질문 */
.faq_section .inner .faq_list>li{
  width: 70%;
  height: 100%;
  top: 50%;
  left: 0;
  position: relative;
  border-radius: 0 150px 150px 0 ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-blend-mode: overlay;
  background-blend-mode: difference;
  box-shadow: var(--ball_shadow);
  text-shadow: var(--font_B);
  backdrop-filter: blur(15px) saturate(50%);
  border-top: 1px solid rgba(255, 255, 255, .2);
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  border-left: 1px solid rgba(116, 191, 197, .1);
  z-index: 0;
  transition: .3s;
  padding: 50px;
  perspective-origin: left center;
  font-size: 20px;
  color: var(--main-color5);
  cursor: pointer;
  background: var(--w-color);
}

/* 질문 호버 */
.faq_section .inner .faq_list>li:hover{
  width: 90%;
  height: 100%;
  display: flex;
  box-shadow: 0 0 5px var(--main-color5);
  /* background: var(--glass-bg1); */
}


.faq_section .inner .faq_list>li span{
  font-size: 24px;
  padding-right: 6px;
}

.faq_section .inner .faq_list>li .faq_card{
  display: flex;
  flex-direction: column;
  padding: 24px
}

.faq_section .inner .faq_list>li .faq_card summary {
  list-style: none;
}


/* 답변 */
.faq_section .inner .faq_list li .faq_answer{
  top: 0;
  left: 0;
  gap: 4px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--b-color);
  padding: 18px;
}

.faq_section .inner .faq_list li .faq_answer p{
  font-size: 18px;
  
}

.faq_section .inner .faq_list li .faq_answer .is_active{
  background: #222;
}


/* marquee_section */
.marquee_section{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background: var(--w-color);
  padding: 18px 0;
}

.marquee_wrap{
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 3rem;
  font-size: 3rem;
  line-height: 1;
  position: relative;
}

.marquee_row{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  gap: 24px;
  will-change: transform;
}

.marquee_wrap.reverse{
  left: auto;
  right: 0;
}

.marquee_item{
  font-weight: 200;
}

.marquee_item:nth-child(odd){/* 홀수 */
  font-weight: 300;
}

